#sidebar {
  background-color: var(--grey-60)!important
}
#main-message,
#view-list > tree-item > .title,
#view-title-label,
.content,
.day-header,
.headline-feed-name,
.headline-title,
.sidebar-button,
tree-item > .title {
  color: var(--primary-light-color)!important
}
#sidebar-top {
  border-bottom: 1px solid!important
}
.sidebar-button:hover {
  color: var(--primary-accent-color)!important
}
tree-folder.selected > tree-folder-header,
tree-item.selected {
  border-color: var(--primary-accent-color)!important;
  background-color: var(--primary-accent-color)!important
}
#feed-view-header {
  background: var(--grey-80)!important
}
#sidebar-splitter,
#tag-list-splitter {
  border-left: 3px solid!important;
  border-right: 1px solid!important;
  border-right-color: var(--grey-80)
}
#sidebar-splitter:hover,
#tag-list-splitter:hover {
  border-right-color: var(--primary-accent-color)!important
}
.full-container-inner {
  background: 0 0!important
}
.headline-container:hover > .headline-header {
  background-color: var(--grey-80)!important
}
tree-folder:not(.selected) > tree-folder-header:hover,
tree-item:hover:not(.selected) {
  background-color: var(--grey-70)!important;
  border-color: var(--grey-80)!important
}
#view-list > tree-item.selected > .title,
.unread-count,
tree-item.selected > .title {
  color: #fff!important
}