:root {
  background-color: var(--in-content-page-background)
}
.tab {
  background: var(--in-content-page-background);
  border-color: var(--in-content-category-header-background)
}
.tab .label {
  color: var(--in-content-page-color)
}
.tab:hover {
  background-color: var(--in-content-category-header-background)!important
}
.tab.active {
  background-color: var(--in-content-border-focus)!important
}
.tab.selected {
  background-color: var(--primary-accent-color-dark)!important
}
.tab.active .label,
.tab.selected .label {
  color: #fff
}
.tab.active:hover {
  background-color: var(--in-content-primary-button-background)!important
}
.tab.discarded {
  opacity: .75
}
.tab.discarded .label {
  color: var(--in-content-box-border-color)
}
.tab.unread .label {
  font-style: italic
}
.tab:not(:hover) .closebox {
  display: none
}
.twisty {
  color: var(--in-content-page-color)
}
.tab.active .twisty {
  color: #fff!important
}
.newtab-button {
  opacity: 0
}
#all-tabs .tab:not(.active)[data-current-uri*="github.com"] .favicon {
  filter: invert(65%)
}
#background,
#background::after,
#tabbar {
  background: var(--in-content-page-background)!important
}